- content_for :header do
  - if @reviewed_place
    = t('.review') + ' ' + @reviewed_place.name
  - else
    = t('.review') + ' ' + @unreviewed_place.name

.container
  .row.margin-below
    .col-md-6
      %h3= t('.reviewed')
      %br
      .row
        - if @reviewed_place
          .col-xs-12
            %h4
              = @reviewed_place.name
          .col-xs-8
            = @reviewed_place.address
          .col-xs-4
            %b= t('.categories')
            - if @reviewed_place.category_names.empty?
              = t('.none')
            - else
              = @reviewed_place.category_names.join(', ')
        - else
          .col-xs-12
            = t('.no_reviewed_version')

    .col-md-6.unreviewed-container
      %h3= t('.unreviewed')
      %br
      .row
        - if @unreviewed_place
          .col-xs-12
            %h4
              = @unreviewed_place.name
          .col-xs-8
            = @unreviewed_place.address
          .col-xs-4
            %b= t('.categories')
            - if @unreviewed_place.category_names.empty?
              = t('.none')
            - else
              = @unreviewed_place.category_names.join(', ')
        - else
          .col-xs-12
            = t('.no_unreviewed_version')

  .row
    .col-md-6.col-md-offset-6
      = link_to t('buttons.confirm'), confirm_place_path, class: 'btn btn-primary btn-success'
      = link_to t('buttons.refuse'), refuse_place_path, class: 'btn btn-primary btn-danger'
  .row
    .col-xs-12.margin-below
      %hr
      %h3= t('.descriptions')
    .col-xs-12
      - @unreviewed_place.translations.each do |t|
        %div{class: "auto-translated-#{t.auto_translated}"}
          = raw "#{t('.automatic translation')} <br><br>" if t.auto_translated
          = raw "#{t.description}"
        %hr
