- content_for :header do
  = t('.review')

.container
  .h3= t('.places')
  %br
  %table.responsive.no-wrap{class: 'display compact', id: 'places_to_review', cellspacing: '0', width: '100%'}
    %thead
      %tr
        %th
        %th
        %th
          = t('activerecord.attributes.place.name')
        %th
          = t('activerecord.attributes.place.address')
    %tbody
      - @places_to_review.each do |place|
        %tr
          %td
            = link_to review_place_path(place), style: 'color: #ff6666; text-decoration: none' do
              %span{class: 'glyphicon glyphicon-eye-open'}
          %td
            - if place.new?
              .green
                = t('.new')
            - else
              .red
                = t('.edited')
          %td
            = place.name
          %td
            = place.address

  .h3= t('.translations')
  %br
  %table.responsive.no-wrap{ class: 'display', id: 'translations', width: '100%' }
    %thead
      %tr
        %th
        %th
          = t('activerecord.attributes.place.name')
        %th
          = t('.locale')
        %th
          = t('activerecord.attributes.place.description')
    %tbody
      - @unreviewed_translations.each do |t|
        %tr
          %td
            = link_to review_translation_path(t.id), style: 'color: #ff6666; text-decoration: none' do
              %span{class: 'glyphicon glyphicon-eye-open'}
          %td
            = Place.find(t.place_id).name
          %td
            = t.locale
          %td
            = t.description[0..200].html_safe + '...' if t.description
