- content_for :header do
  = t('review') + ' ' + Place.find(@unreviewed_translation.place_id).reviewed_version.name

.container
  .row.margin-below
    .col-md-6
      %h3 Reviewed
      %br
      - if @reviewed_translation
        = @reviewed_translation.description.html_safe
      - else
        no reviewed translation

    .col-md-6.unreviewed-container
      %h3
        Unreviewed
        .switch-description-view.pull-right DIFF
      %br
      - if @unreviewed_translation
        .description-diff
          = raw diff_to_reviewed
        .description
          = @unreviewed_translation.description.html_safe
      - else
        no unreviewed translation

  .row
    .col-md-6
    .col-md-6
      = link_to 'Confirm', confirm_translation_path, class: 'btn btn-primary btn-success'
      = link_to 'Refuse', refuse_translation_path, class: 'btn btn-primary btn-danger'

  .row
    .col-xs-12.margin-below
      %h3= t('other_descriptions')
    - @other_translations_reviewed.each do |t|
      .col-xs-12.grey
        = t.description.html_safe if t.description
        %hr