.modal.fade.places-modal{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title
          .category
      .modal-body
        .row
          #accordion.panel-group.col-xs-12
            - @places.each do |place|
              .panel.panel-default.one-place{class: place.category_ids}
                .panel-heading
                  %h4.panel-title
                    %a{'data-parent': '#accordion', 'data-toggle': 'collapse', href: "#collapse_#{place.id}"}
                      %b= place.name
                    .place-list-header-buttons
                      - if signed_in?
                        .glyphicon.glyphicon-pencil.edit-place{place_id: place.id}
                      .glyphicon.glyphicon-search.zoom-to-place{id: place.id}
                .panel-collapse.collapse{id: "collapse_#{place.id}"}
                  .panel-body{dir: "#{text_direction}"}
                    .col-xs-12.margin-below
                      = place.description.html_safe if place.description
                    .col-xs-12
                      %i= place.address
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'}
          = t('close')
