#place-modal.modal.fade.places-modal{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title
          = t('places')
      .modal-body{dir: "#{text_direction}"}
        .row
          - @places.each do |place|
            %div.place-container{class: place.category_ids}
              .col-xs-9.col-xs-md-10
                %b= place.name
              .col-xs-3.col-xs-md-2
                = button_tag('', type: 'button', id: place.id, class: 'btn btn-default glyphicon glyphicon-search zoom-to-place')
              .col-xs-12
                = place.description.html_safe if place.description
              .col-xs-12
                %i= place.address
              .col-xs-12
                %hr

      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'}
          = t('close')
