.overlay.places-list-panel
  .row.search-field
    %input#search-input.category-input.form-control{'data-list' => (Category.list_names), 'autocomplete' => 'off', placeholder: (t('static_pages.map.search_placeholder'))}

  .row
    .col-xs-12.places-list-accordion-container
      #accordion.places-list-accordion.panel-group{'aria-multiselectable' => 'true', role: 'tablist'}

  .row
    .col-xs-12.button-container.text-center
      .sidepanel-button-container.sidepanel-default-container
        %button.btn.btn-default.hide-places-list-panel
          Hide this
      .sidepanel-button-container.sidepanel-add-place-container
        %h4.slidepanel-title= t('.how_to_add_place')
        %button.type-in-address.btn.btn-dark
          = t('.type_in_address')
        %button.add_place_via_click.btn.btn-dark
          = t('.click_on_map')
        %button.add-place-via-location.btn.btn-dark
          = t('.add_via_location')
        %button.btn.btn-default.cancel-place-addition
          = t('cancel')

.panel.panel-default.places-list-item.template
  .panel-heading{role: 'tab'}
    %h4.panel-title
      %a.collapsed{'aria-expanded' => 'false', 'data-parent' => '#accordion', 'data-toggle' => 'collapse', role: 'button'}
        .name
  .panel-collapse.collapse{role: 'tabpanel'}
    .panel-body
      .description
      .contact-container
      .category-names
      .bottom-icons
        - if can_contribute?
          .glyphicon.glyphicon-pencil.edit-place.pull-right
        .glyphicon.glyphicon-search.show-map.pull-right
