- content_for :header do
  = t('.about')

-# Github link
= render 'static_pages/about_content/github_banner'

.container
  -# Top row
  .text-center.about_top
    = link_to 'KiezKarte', root_path
    is a multilingual, crowd-sourced project mapping playgrounds, meeting points, legal and medical support structure and other parts of the non-commercial, common infrastructure in Berlin Lichtenberg in order to improve orientation especially refugees.

  .row.about_sections
    -# Subsections
    .col-xs-12.col-lg-4.about_section
      .h3.text-center
        Motivation
        %hr{width: "75%"}
      %p
        We believe that freedom of movement is a basic right for everybody. Furthermore it is obvious that the existence of common, non-commercial infrastructure is very important for people with few or no material privileges at all in order to live a life in dignity. But of course – before one can take free legal or medical support one has to know where to go…
      %p
        Knowledge about where to find which kind of support or non-commercial space is rarely to be found in one place. Hence it is difficult, especially for the newly arriving, not-so-well-connected people to profit from common goods. And even if it can be found partly on webpages or in booklets there will always be the ones excluded not speaking the respective language. This is where we want to try a new approach...
    .col-xs-12.col-lg-4.about_section
      .h3.text-center
        Features
        %hr{width: "75%"}
      %p
        With these problems in mind we decided to build a small application which should help people mapping as well as finding vital places within their surrounding. You might think of it as a kind of “Wikipedia for common, non-commercial points of interest (POI)” - everybody shall be able to contribute. Our assumption: If everybody with a couple of minutes shares the own knowledge about something in the area we have a comprising, multi-lingual map of our district in no time!

    .col-xs-12.col-lg-4.about_section
      .h3.text-center
        Other projects
        %hr{width: "75%"}
      %p
        We are definitely not the pioneers on this field. In the recent years different mapping projects like
        = link_to 'Arriving in Berlin', 'https://arriving-in-berlin.de/'
        or
        = link_to 'Refugees Welcome Map', 'http://refugeeswelcomemap.de/'
        have emerged. This project is based on the ideas of these softwares and is under no circumstances seeking to be sort of a concurrency. Rather we attempt to improve some of the ideas on the basis of a generic OpenSource mapping software that we’ve programmed in the context of a small, local initiative being active in refugee support and organisation processes.
      %p
        Being an OpenSource / OpenData project we definitely wish to develop a common standard among the different mapping projects out there in order to be able to share the different knowledge we all have. Following this idea we will be working on a small interface
        = link_to '(REST API)', 'http://www.restapitutorial.com/'
        in a future release. If you’re interested in discussing about that do not hesitate to send us an email!

  -# Bottom row
  .row.about_bottom.text-center
    .col-xs-12.col-lg-12
      %p
        KiezKarte is a non-commercial, non-profit-project and is currently being developed by three members of the association
        = link_to 'aktiv in Lichtenberg e.V.', 'http://plattenkosmos.berlin/'
        in their spare time. In order to be able to realise further ideas and maintain this website we depend on your support - personally, financially and via feedback.
      %p
        In case of software bugs do not hesitate to open a ticket in our
        = link_to 'development ticket system', 'https://github.com/magdalena19/lberg-map/issues'
        !

  .row.text-center
    .col-xs-12.col-lg-12.about_link_to_imprint
      = link_to t('.link_to_imprint'), contact_path
