- content_for :header do
  = t('.contact')

.container
  .row
    .col-xs-12.col-md-2.col-md-offset-1.impressum
      .h3= t('.imprint')
      %p
        %br= link_to 'Aktiv in Lichtenberg e.V.', 'https://plattenkosmos.berlin/'
        Magdalenenstr. 19
        %br 10365 Berlin
      %p
        VR 32492 B (Amtsgericht Charlottenburg)
      %p
        %br
          %i= t('.developed_by')
        %br Code Kollektiv
    .col-xs-12.col-md-6.col-md-offset-1
      .h3= t('.send_email')
      = form_for @message do |f|
        = f.text_field :email
        = f.text_field :name
        = f.text_field :subject
        = f.text_area :text
        = f.submit 'Submit'
