#map
  .col-xs-12.overlay.confirmation-button-container
    = t('correct_location?')
    %br
    = button_tag('', type: 'button', class: 'btn btn-default glyphicon glyphicon-ok', id: 'confirmation-button-yes')
    = button_tag('', type: 'button', class: 'btn btn-default glyphicon glyphicon-remove', id: 'confirmation-button-no')
  .overlay.control-container.zoom-container
    = button_tag('', type: 'button', class: 'btn btn-default glyphicon glyphicon-plus zoom-in')
    %br
    = button_tag('', type: 'button', class: 'btn btn-default glyphicon glyphicon-minus zoom-out')
  .overlay.control-container.place-control-container
    = button_tag('', type: 'button', title: t('new_place'), class: 'btn btn-default glyphicon glyphicon-plus-sign add-place-button')
    %br
    = button_tag('', type: 'button', class: 'glyphicon glyphicon-th-large show-categories')
    %br
    = button_tag('', type: 'button', class: 'glyphicon glyphicon-list show-places')
  .overlay.category-indicator

= render('place_modal')
= render('places_modal')
= render('category_modal')
= render('add_place_modal')

:javascript
  window.locale = '#{locale}';
  window.placesJson = #{raw(@places_json.to_json)};
