.map-container
  #map
  .col-xs-12.overlay.confirmation-button-container
    = t('correct_location?')
    %br
    = button_tag('', type: 'button', class: 'btn btn-success glyphicon glyphicon-ok', id: 'confirmation-button-yes')
    = button_tag('', type: 'button', class: 'btn btn-danger glyphicon glyphicon-remove', id: 'confirmation-button-no')

  .overlay.control-container.show-sidebar-container
    .glyphicon.glyphicon-chevron-right.open-sidebar

  .overlay.control-container.zoom-container
    .glyphicon.glyphicon-plus.zoom-in
    %br
    .glyphicon.glyphicon-minus.zoom-out

  .overlay.control-container.place-control-container
    .glyphicon.glyphicon-plus-sign.add-place-button.slidepanel-button{slidepanel: 'add-place-slidepanel', title: t('new_place')}
    %br
    .glyphicon.glyphicon-list.show-places.slidepanel-button{slidepanel: 'places-slidepanel'}

  .overlay.control-container.category-container
    .show-categories.slidepanel-button{slidepanel: 'category-slidepanel'}
      .show-categories-text
      .glyphicon.glyphicon-triangle-top

  .overlay.loading
    .loading-text
      LOADING...

  = render('category_slidepanel')
  = render('places_slidepanel')
  = render('place_slidepanel')
  = render('add_place_slidepanel')
  = render('locale_slidepanel')
  = render 'layouts/sidebar'

:javascript
  window.locale = '#{locale}';
  window.placesJson = #{raw(@places_json.to_json)};
