- content_for :header do
  = t('.contact')

.container
  .row
    .col-xs-12.col-md-2.col-md-offset-1.impressum
      .h3= t('.imprint')
    .col-xs-12.col-md-6.col-md-offset-1
      .h3= t('.send_email')
      = form_for @message, url: contact_url(protocol: 'https') do |f|

        %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:sender_email)}"}
          .col-xs-12
            = f.text_field :sender_email, placeholder: t('.sender_email'), class: 'form-control'
        %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:sender_name)}"}
          .col-xs-12
            = f.text_field :sender_name, placeholder: t('.sender_name'), class: 'form-control'
        %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:subject)}"}
          .col-xs-12
            = f.text_field :subject, placeholder: t('.subject'), class: 'form-control'
        %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:text)}"}
          .col-xs-12
            = f.text_area :text, placeholder: t('.text'), class: 'form-control'
        %fieldset.email_reply
          .col-xs-1
            = check_box_tag 'copy_to_sender', true
          .col-xs-11
            = t('.send_a_copy_to_email_address')

        .row
          .col-md-6.col-offset-md-2
            = show_simple_captcha unless @current_user.signed_in?
            = f.submit t('.send_message'), class: 'btn btn-primary btn-success place-form-button submit-place-button'
