.container
  .row
    .col-xs-12
      %h3
        = t('manage_announcements.manage')
      .row
        .col-xs-12
          = will_paginate
        %hr
        .col-xs-12
          .row
            .col-xs-3
              %b= t('manage_announcements.title')
            .col-xs-2
              %b= t('manage_announcements.created_by')
            .col-xs-2
              %b= t('manage_announcements.created_at')
            .col-xs-2
              %b= t('manage_announcements.last_change_at')
      .row
        .col-xs-12
          - @announcements.each do |announcement|
            .row
              %hr
              .col-xs-3
                = link_to announcement.header, announcement_path(announcement)
              .col-xs-2
                - if announcement.user
                  = announcement.user.name
              .col-xs-2.date-field
                = announcement.created_at.strftime("%d-%m-%Y")
              .col-xs-2.date-field
                = announcement.updated_at.strftime("%d-%m-%Y")
              .col-xs-3
                .dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    = t('modify')
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'edit', edit_announcement_path(announcement)
                    %li
                      = link_to 'remove', announcement_path(announcement), { method: 'delete', data: { confirm: t('confirm_delete')} }
