- content_for :header do
  = @announcement.header

.container
  .row.margin-below
    = raw @announcement.content
  .row.margin-below
    .col-xs-3.col-md-2
      = link_to t('edit'), edit_announcement_path(@announcement), class: 'btn btn-primary btn-warning place-form-button'
    .col-xs-3.col-md-2
      = link_to t('delete'), announcement_path(@announcement), { method: 'delete', data: { confirm: t('confirm_delete') }, class: 'btn btn-primary btn-danger place-form-button'}
    .col-xs-3.col-md-2
      = link_to t('back'), '', class: 'btn btn-primary place-form-button back-button'
