= form_for(@map, url: @url) do |f|
  %ul.nav.nav-tabs
    %li.nav.active
      %a{'data-toggle' => 'tab', href: '#base_settings'}
        = t('.base_settings')
    %li.nav
      %a{'data-toggle' => 'tab', href: '#publication_settings'}
        = t('.publication_settings')
    %li.nav
      %a{'data-toggle' => 'tab', href: '#language_settings'}
        = t('.language_settings')

  .tab-content
    = render partial: 'form_base_settings_tab', locals: { f: f }
    = render partial: 'form_publication_settings_tab', locals: { f: f }
    = render partial: 'form_language_settings_tab', locals: { f: f }

  -# CAPTCHA
  .row
    .col-md-6
      = display_captcha unless @current_user.signed_in?

  -# BUTTONS
  .row
    .spacer-row
    .col-xs-6.col-sm-4.col-md-3
      = f.submit class: 'btn btn-primary btn-success place-form-button submit-place-button'
    .col-xs-6.col-sm-4.col-md-3
      = link_to t('buttons.back'), '', class: 'btn btn-primary btn-danger place-form-button back-button'
