= form_for(@map, url: @url) do |f|
  .row
    .col-md-12
      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:title) || f.object.errors.include?(:maintainer_email_address)}"}
        .col-xs-8
          = f.text_field :title, placeholder: 'Title', class: 'form-control'
        .col-xs-4
          = f.text_field :maintainer_email_address, placeholder: 'Your email address (optional)', class: 'form-control'

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:description)}"}
        .col-xs-12
          .description-editor
            = f.text_area :description, class: "wysihtml5 description-area"

  .row
    %hr

    .col-md-12
      .col-xs-1
        = f.check_box :auto_translate
      .col-xs-5
        = f.label :auto_translate, 'Auto-translate Place / Event descriptions and Tags'
      .col-xs-5
        -# = f.collection_select :auto_translate, 'Auto-translate Place / Event descriptions and Tags'
  
  .row
    %hr

  .row
    .col-md-12
      .col-xs-1
        = f.check_box :is_public
      .col-xs-11
        = f.label :is_public

    .col-md-12
      .col-xs-1
        = f.check_box :allow_guest_commits
      .col-xs-11
        = f.label :allow_guest_commits

  .row
    .col-md-12
      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:imprint)}"}
        .col-xs-12
          .description-editor
            = f.text_area :imprint, class: "wysihtml5 description-area"

  .row
    %hr

    .col-md-12
      .col-xs-6
        = f.label :public_token
        = f.text_field :public_token, value: SecureRandom.urlsafe_base64(24), class: 'form-control'
      .col-xs-6
        = f.label :secret_token
        = f.text_field :secret_token, value: SecureRandom.urlsafe_base64(24), class: 'form-control'
  .row

  -# .row
  -#   .col-md-6
  -#     = show_simple_captcha unless @current_user.signed_in?
  .row
    .col-xs-2
      = f.submit class: 'btn btn-primary btn-success place-form-button submit-place-button'
    .col-xs-6.col-md-2
      = link_to t('buttons.back'), '', class: 'btn btn-primary btn-danger place-form-button back-button'
