= render partial: 'maps/modals/map_description_modal', locals: { map: map }

-# MAP PANEL CONTENT
.col-lg-4.col-md-4
  .panel.panel-default.map-panel

    -# HEADER
    .map-index.panel-heading
      .col-xs-8.map-title{data: { 'map-token' => map.secret_token }}
        = map.title.present? ? map.title : t('.no_title')
      .col-xs-4.map_buttons_container
        %ul.nav.nav-pills.map_buttons
          %li.glyphicon.fa.fa-info-circle.map-modal-button{ data: { target: 'map_description', 'map-id' => map.id}}
          %li.dropdown
            %a.dropdown-toggle.fa.fa-cog.map_settings_button{ 'data-toggle': 'dropdown', href: '#map_settings' }
            %ul.dropdown-menu
              %li= link_to t('.edit_map'), edit_map_url(map_token: map.secret_token)
              %li= link_to t('.delete_map'), map_url(map_token: map.secret_token), method: 'delete', data: { confirm: t('.confirm_delete') }

    -# BODY
    .panel-body
      .content
        - if map.password_protected?
          .map-access-level-container
            .password-protected
              .glyphicon.fa.fa-key.pull-left
              = t('.password_protected')
        .map-access-level-container
          %div{class: map_access_level(map: map)}
            .glyphicon.fa.fa-universal-access.pull-left
            = map.is_public? ? t('.public_map') : t('.private_map')
        .map-access-level-container
          - if map.allow_guest_commits
            .allow_guest_commits
              .glyphicon.fa.fa-pencil.pull-left
              = "#{map.allow_guest_commits? ? t('.guest_commits_allowed') : t('.guest_commits_not_allowed') }"

        .map-specs
          %p
            .glyphicon.fa.fa-map-marker
            = t('.number_of_places', total: map.all_places.count)
            = link_to t('.unreviewed', total: map.unreviewed_places.count), places_review_index_path(map_token: map.secret_token) if map.allow_guest_commits && map.unreviewed_places.any?
          %p
            .glyphicon.fa.fa-calendar
            = t('.number_of_events', total: map.all_events.count)
            = link_to t('.unreviewed', total: map.unreviewed_events.count), places_review_index_path(map_token: map.secret_token) if map.allow_guest_commits && map.unreviewed_events.any?

          %hr
          %p
            .glyphicon.fa.fa-language
              %i= map.supported_languages_string
  .spacer-row
