.col-lg-4.col-md-4
  .panel.panel-default.map-panel

    -# HEADER
    .panel-heading{data: { 'map-token' => map.secret_token }}
      .col-xs-8
        = map.title.present? ? map.title : t('.no_title')
      .col-xs-4.map_buttons_container
        %ul.nav.nav-pills.map_buttons
          %li.glyphicon.glyphicon-info-sign.map_description_button{'data-map-token' => map.secret_token}
          %li.dropdown
            %a.dropdown-toggle.glyphicon.glyphicon-cog.map_settings_button{ 'data-toggle': 'dropdown', href: '#map_settings' }
            %ul.dropdown-menu
              %li= link_to t('.share_map'), share_map_url(map_token: map.secret_token)
              %li= link_to t('.edit_map'), edit_map_url(map_token: map.secret_token)
              %li= link_to t('.delete_map'), map_url(map_token: map.secret_token), method: 'delete', data: { confirm: t('.confirm_delete') }

    -# BODY
    .panel-body
      .content
        .map-access-level-container
          %div{class: map_access_level(map: map)}
            .glyphicon.fa-universal-access.pull-left
            = map.is_public? ? t('.public_map') : t('.private_map')
        .map-access-level-container
          - if map.allow_guest_commits
            .allow_guest_commits
              .glyphicon.glyphicon-pencil.pull-left
              = "#{map.allow_guest_commits? ? t('.guest_commits_allowed') : t('.guest_commits_not_allowed') }"

        .map-specs
          %p
            .glyphicon.fa.fa-map-marker
            = t('.number_of_places', total: map.all_places.count)
            = link_to t('.unreviewed', total: map.unreviewed_places.count), places_review_index_path(map_token: map.secret_token) if map.allow_guest_commits && map.unreviewed_places.any?
          %p
            .glyphicon.fa.fa-calendar
            = t('.number_of_events', total: map.all_events.count)
            = link_to t('.unreviewed', total: map.unreviewed_events.count), places_review_index_path(map_token: map.secret_token) if map.allow_guest_commits && map.unreviewed_events.any?

          %hr
          %p
            .glyphicon.fa.fa-globe
            = map.auto_translate ? t('.autotranslation_on') + " (#{map.translation_engine.capitalize})" : t('(.autotranslation_off')

    -# FOOTER
    = link_to map_url(map_token: map.secret_token) do
      .panel-footer.text-center
        = t('.show_map')

  .spacer-row

-# DESCRIPTION MODAL
.modal.fade{role: 'dialog', id: "map_description_#{map.secret_token}"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title= t('.map_description', title: map.title)
      .modal-body
        %p= map.description.html_safe
        %hr

        .small
          %p
            %b= t('.public_link')
            %span= link_to map_url(map_token: map.public_token) if map.is_public?
          %p
            %b= t('.admin_link')
            %span= link_to map_url(map_token: map.secret_token)
