.overlay.control-container.right-sidebar-tray.tile-layers-tray.closed
  - Map::TILE_LAYERS.each do |name, attr|
    .control-button.select-tile-layer{data: { url: attr[:url], attribution: attr[:attribution] }}
      = image_tag attr[:image_url]

.overlay.control-container.right-sidebar-tray.create-place-methods-tray.closed
  .add-place-via-address-search
    .glyphicon.fa.fa-search
    = t('.search_address')
  .add-place-manually
    .glyphicon.fa.fa-keyboard-o
    = t('.type_in_address')
  .add-place-via-click
    .glyphicon.fa.fa-mouse-pointer
    = t('.click_on_map')
  .add-place-via-location
    .glyphicon.fa.fa-crosshairs
    = t('.add_via_location')

.map-controls-container
  .overlay.control-container.zoom-container
    %span.control-button.zoom-in.icon{data: { toggle: 'tooltip', placement: 'left' }, title: t('.zoom_in')}
      .glyphicon.fa.fa-plus

    %span.control-button.zoom-out{data: { toggle: 'tooltip', placement: 'left' }, title: t('.zoom_out')}
      .glyphicon.fa.fa-minus

    %span.control-button.zoom-to-bbox{data: { toggle: 'tooltip', placement: 'left'  }, title: t('.fit_to_bbox')}
      .glyphicon.fa.fa-compress

    %span.control-button.toggle-show-geolocation.inactive{data: { toggle: 'tooltip', placement: 'left' }, title: t('.show_current_position')}
      .glyphicon.fa.fa-crosshairs

  .overlay.control-container.map-info-container
    %span.control-button.show-map-description{data: { toggle: 'tooltip', placement: 'left' }, title: t('.show_map_description')}
      .glyphicon.fa.fa-info

    %span.glyphicon.control-button.choose-background-layer{data: { toggle: 'tooltip', placement: 'left' }, title: t('.choose_background_layer'), tray: '.tile-layers-tray'}
      = image_tag('buttons/tile_layers_button.svg')

    = link_to places_path(map_token: map_token) do
      %span.control-button{data: { toggle: 'tooltip', placement: 'left' }, title: t('.show_places_list')}
        .glyphicon.fa.fa-list-alt

  - if can_contribute?
    .overlay.control-container.place-control-container
      %span.control-button.add-place-button{data: { toggle: 'tooltip', placement: 'left' }, title: t('.new_place'), tray: '.create-place-methods-tray' }
        .glyphicon.fa.fa-plus-circle

      - if can_review?
        = link_to places_review_index_path(map_token: map_token) do
          %span.control-button.review-places-button{data: { toggle: 'tooltip', placement: 'left' }, title: t('.review_changes')}
            .glyphicon.fa.fa-eye
