- content_for :header do
  = t('.share_map')

=form_tag(share_map_path(map_token: request[:map_token]), method: :post)
.container
  .row
    .col-md-12
      = t('.share_with_guests')
        
  .spacer-row
  .col-md-12.input-group
    = text_field_tag 'map_guests', '', placeholder: 'foo@bar.org, baz@bar.org', class: 'form-control', id: 'map_guests'

  .row
    .spacer-row
    .col-md-12
      = t('.share_secret_link', link: link_to(t('.admin_link'), '#', id: 'share_admin_link')).html_safe
  .spacer-row
  .col-md-12.input-group
    = text_field_tag 'map_admins', '', placeholder: 'foo@bar.org, baz@bar.org', class: 'form-control', id: 'map_admins'

  .spacer-row
  .row
    .col-xs-3
      = submit_tag t('buttons.invite_to_map'), class: 'btn btn-success', id: 'submit_invitations'
    .col-xs-3
      = link_to t('buttons.back'), '', class: 'btn btn-primary btn-danger place-form-button back-button'
