.map-container
  #map
  .col-xs-12.overlay.confirmation-button-container
    = t('.correct_location?')
    %br
    = button_tag('', type: 'button', class: 'btn btn-success glyphicon glyphicon-ok', id: 'confirmation-button-yes')
    = button_tag('', type: 'button', class: 'btn btn-danger glyphicon glyphicon-remove', id: 'confirmation-button-no')

  = render 'map_overlays'
  = render 'sidepanel'

:javascript
  window.locale = '#{locale}';
  window.geolocation_error_message_appendix = '#{t('geolocation_error_message_appendix')}';
  window.autotranslated_label = '#{t('activerecord.attributes.place.auto_translated_|_click_to_edit')}';
  window.choose_category = '#{t('choose_category')}';
  window.waiting_for_review_label = '#{t('places.index.waiting_for_review')}';
  window.latitude = #{@latitude || 0};
  window.longitude = #{@longitude || 0};
  window.marker = '#{image_path 'marker.png'}';
  window.sessionMarker = '#{image_path 'marker_session.png'}';
  window.map_token = "#{request[:map_token]}"
