.map-container
  #map
  .overlays
    .row
      .col-xs-12.overlay.address-search-bar-container
      .col-xs-12.overlay.confirmation-button-container
        = t('.correct_location?')
        %br
        = button_tag('', type: 'button', class: 'btn btn-success glyphicon glyphicon-ok', id: 'confirmation-button-yes')
        = button_tag('', type: 'button', class: 'btn btn-danger glyphicon glyphicon-remove', id: 'confirmation-button-no')

  = render partial: '/maps/show/map_overlays'
  = render partial: '/maps/show/right_sidebar'
  = render partial: '/maps/show/places_list_panel'
  = render partial: 'maps/modals/places_index_modal'
  = render partial: 'maps/modals/map_description_modal', locals: { map: @map }

  - if needs_to_be_unlocked?
    = render partial: 'maps/modals/map_password_modal'

  .modal.fade.place-modal
    .modal-dialog
      .modal-content
        .modal-header
          %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
          %h4.modal-title Place
        .modal-body

:javascript
  window.locale = '#{locale}';
  window.map_languages = '#{@map.supported_languages}'
  window.geolocation_error_message_appendix = '#{t('geolocation_error_message_appendix')}';
  window.choose_category = '#{t('choose_category')}';
  window.waiting_for_review_label = '#{t('places.index.waiting_for_review')}';
  window.delete_confirmation_text = '#{t('prompts.confirm_delete')}'
  window.latitude = #{@latitude || 0};
  window.longitude = #{@longitude || 0};
  window.marker_current_position = '#{image_path 'marker/png/marker_current_position.png'}';
  window.placeMarker = '#{image_path 'marker/png/marker_place.png'}';
  window.eventMarker = '#{image_path 'marker/png/marker_event.png'}';
  window.sessionPlaceMarker= '#{image_path 'marker/png/marker_session_place.png'}';
  window.sessionEventMarker= '#{image_path 'marker/png/marker_session_event.png'}';
  window.event_date_range = '#{@map.all_events_date_range}';
  window.map_token = '#{request[:map_token]}'
  window.mapId= #{@map.id}
  window.mayShowMapDescription = #{@show_map_description}
