.map-container
  #map
  .overlays
    .row
      .col-xs-12.overlay.address-search-bar-container
      .col-xs-12.overlay.confirmation-button-container
        = t('.correct_location?')
        %br
        = button_tag('', type: 'button', class: 'btn btn-success glyphicon glyphicon-ok', id: 'confirmation-button-yes')
        = button_tag('', type: 'button', class: 'btn btn-danger glyphicon glyphicon-remove', id: 'confirmation-button-no')

  = render 'map_overlays'
  = render 'sidepanel'
  = render 'map_description_modal'

:javascript
  window.locale = '#{locale}';
  window.geolocation_error_message_appendix = '#{t('geolocation_error_message_appendix')}';
  window.autotranslated_label = '#{t('activerecord.attributes.place.auto_translated_|_click_to_edit')}';
  window.choose_category = '#{t('choose_category')}';
  window.waiting_for_review_label = '#{t('places.index.waiting_for_review')}';
  window.delete_confirmation_text = '#{t('places.index.confirm_delete')}'
  window.latitude = #{@latitude || 0};
  window.longitude = #{@longitude || 0};
  window.marker_current_position = '#{image_path 'marker_current_position.png'}';
  window.placeMarker = '#{image_path 'marker_place.png'}';
  window.eventMarker = '#{image_path 'marker_event.png'}';
  window.sessionPlaceMarker= '#{image_path 'marker_session_place.png'}';
  window.sessionEventMarker= '#{image_path 'marker_session_event.png'}';
  window.event_date_range = '#{@map.all_events_date_range}';
  window.map_token = "#{request[:map_token]}"
