-# EMBED MAP MODAL
.modal.fade.map-description-modal.embed_map{role: 'dialog', id: "embed_map_#{map.public_token}"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title= t('.embed_map')
      .modal-body
        .row
          .col-lg-2.col-xs-2
            = label_tag t('.width')
            %input.embed-form-element.form-control.text-field{type: 'text', disabled: 'true', id: 'width_text_field', value: 600, 'data-target' => 'width'}
          .col-lg-4.col-xs-4
            = label_tag ''
            %input.embed-form-element.range-slider{type: 'range', id: 'width_range_slider', value: 600, min: 100, max: 1000, step: 5, data: { target: 'width' }}
          .col-lg-2.col-xs-2
            = label_tag t('.height')
            %input.embed-form-element.form-control.text-field{type: 'text', disabled: 'true', id: 'height_text_field', value: 600, 'data-target' => 'height'}
          .col-lg-4.col-xs-4
            = label_tag ''
            %input.embed-form-element.range-slider{type: 'range', id: 'width_range_slider', value: 600, min: 100, max: 1000, step: 5, data: { target: 'height', 'show-value' => 'true', highlight: 'true'} }

        .spacer-row
        .row
          .col-xs-12
            .input-group
              = text_field_tag :iframe_src, "<iframe src=" + '"' + "#{root_url}/#{map.public_token}/embedded?iframe=true" + '"' + ' width="600" height="600"></iframe>', class: 'form-control', aria: { describedby: '#copy_to_clipboard'}, disabled: true
              %span.input-group-btn
                %button.btn.btn-secondary.clipboard-btn{type: 'button'}
                  .fa.fa-clipboard

