.row.margin-below
= form_for(:new_password, url: { action: :set_new_password }, method: :patch) do |f|
  .hidden-xs.col-sm-3
  .col-sm-6
    .row
      .col-xs-12
        = hidden_field_tag 'id', user_id
      .col-xs-12
        = hidden_field_tag 'token', password_reset_token
      .col-xs-12
        -# TODO translate
        = f.password_field :password, placeholder: 'Neues Password', class: 'form-control'
      .col-xs-12
        -# TODO translate
        = f.password_field :password_confirmation, placeholder: 'Neues Passwort wiederholen' ,class: 'form-control'
      .col-xs-6
        -# TODO translate
        = f.submit "Passwort zurücksetzen", class: "btn btn-success"
      .col-xs-6
        = link_to "Abbrechen", root_url, class: "btn btn-danger"
