- content_for :header do
  = t('.reset_password')

.container
  = form_for(:new_password, url: { action: :set_new_password }, method: :patch) do |f|
    .row
      .col-xs-12
        = hidden_field_tag 'id', user_id
      .col-xs-12
        = hidden_field_tag 'token', password_reset_token
      .col-xs-12
        -# TODO translate
        = f.label :password, t('.new_password')
        = f.password_field :password, placeholder: t('.new_password'), class: 'form-control'
      .col-xs-12
        -# TODO translate
        = f.label :password, t('.new_password')
        = f.password_field :password_confirmation, placeholder: t('.repeat_new_password'), class: 'form-control'

    .spacer-row
    .row
      .col-xs-6.col-md-4
        -# TODO translate
        = f.submit t('.reset_password'), class: "btn btn-success"
      .col-xs-6.col-md-4
        = link_to "Abbrechen", root_url, class: "btn btn-danger"
