- content_for :header do
  - if @reviewed_place
    = t('.review') + ' ' + @reviewed_place.name
  - else
    = t('.review') + ' ' + @unreviewed_place.name

.container
  .row
    .col-md-6
      .col-xs-12.reviewed-container.margin-below
        %h3= t('.reviewed')
        %br
        .row
          - if @reviewed_place
            .col-xs-12
              %h4
                = @reviewed_place.name
            .col-xs-12
              %b= t('.address')
              = @reviewed_place.address
            .col-xs-12
              %b= t('.categories')
              - if @reviewed_place.category_names.empty?
                = t('.none')
              - else
                = @reviewed_place.category_names.join(', ')
          - else
            .col-xs-12
              = t('.no_reviewed_version')

    .col-md-6
      .col-xs-12.unreviewed-container.margin-below
        %h3= t('.unreviewed')
        %br
        .row
          - if @unreviewed_place
            .col-xs-12
              %h4
                = @unreviewed_place.name
            .col-xs-12
              %b= t('.address')
              = @unreviewed_place.address
            .col-xs-12
              %b= t('.categories')
              - if @unreviewed_place.category_names.empty?
                = t('.none')
              - else
                = @unreviewed_place.category_names.join(', ')
          - else
            .col-xs-12
              = t('.no_unreviewed_version')

  .row
    .col-xs-12
      .col-xs-12.margin-below
        %hr
        %h3= t('.descriptions')
      .col-xs-12
        - @unreviewed_place.translations.each do |t|
          %div{class: "auto-translated-#{t.auto_translated}"}
            - if t.auto_translated
              .btn.btn-xs.btn-danger
                = t('.automatic translation') 
              %br= t.description.html_safe
          %hr
  .row
    .col-xs-12
      .col-xs-6
        = link_to t('buttons.confirm'), confirm_place_path(id: @place.id, map_token: request[:map_token]), class: 'btn btn-primary btn-success review-form-button'
      .col-xs-6.col-md-2
        = link_to t('buttons.refuse'), refuse_place_path(id: @place.id, map_token: request[:map_token]), class: 'btn btn-primary btn-danger review-form-button'
