- content_for :header do
  = t('.user_settings')

.container
  .row
    .col-md-4.activation_tokens
      .row
        %h3= t('.user_activation_tokens')
      .row
        - @user.activation_tokens.each do |token|
          = render partial: 'activation_token', locals: { token: token }
        - if @user.activation_tokens.empty?
          = t('.no_activation_tokens')

    .col-md-8
      = render partial: 'form', locals: { button_label: '.update' }
