.announcements-panel
  - last_announcements_created.each do |announcement|
    .announcement.announcement-news
      .announcement-timestamp
        = "#{announcement.created_at.strftime("%d-%m-%Y")}"
      .announcement-header
        %h4= announcement.header
      .announcement-body
        = truncate(announcement.content.html_safe, length: 150, escape: false)
  .pull-right
    = link_to 'see full chronicle', chronicle_path
