!!!
%html
  %head
    %title= @map.present? ? @map.title : Admin::Setting.app_title
    = favicon_link_tag 'favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = include_page_specific_javascript
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
  %body
    %noscript
      This site is built on JavaScript. Please activate...
    .container-full.main-container
      = render 'layouts/shared/flash_messages'
      = yield

    = render 'layouts/footer/footer'

= render partial: 'layouts/shared/modals'
