-# CHANGE LOGIN STATUS
- if @current_user.signed_in?
  .margin-right.navbar-button.pull-right.toggle-login
    = link_to t('.logout'), logout_path
- else
  .margin-right.navbar-button.pull-right.toggle-login
    = link_to t('.login'), login_path

= render partial: 'layouts/navbar/admin_dropdown' if @current_user.admin?
= render partial: 'layouts/navbar/user_settings_dropdown'
= render partial: 'layouts/navbar/map_dropdown' if any_maps_available?
