-# CHANGE LOGIN STATUS
- if @current_user.signed_in?
  .margin-right.navbar-button.pull-right
    = link_to logout_path do
      .glyphicon.glyphicon-log-out.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.logout')}
- else
  .margin-right.navbar-button.pull-right
    = link_to login_path do
      .glyphicon.glyphicon-log-in.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.login')}

- if current_map
  -# TODO contact management system has to be re-implemented
  -# .navbar-button.contact-button.pull-left
  -#   = link_to contact_path do
  -#     .glyphicon.glyphicon-envelope.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.contact')}

- if current_map
  - if is_secret_link?
    .navbar-button.info-button.pull-left
      %span.glyphicon.glyphicon-user
      = link_to share_map_url(map_token: map_token) do
        .glyphicon.glyphicon-share.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.share')}

  .navbar-button.info-button.pull-left
    = link_to about_path do
      .glyphicon.glyphicon-info-sign.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.about')}

  - if current_map.allow_guest_commits
    .navbar-button.pull-left
      = link_to places_review_index_path do
        .glyphicon.glyphicon-thumbs-up.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.review')}

= render partial: 'layouts/navbar/dropdown'
