%nav.navbar.navbar-fixed-top
  .container.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a
      -# Map title
      - if current_map
        .logo.logo-left= @map.title.present? ? @map.title : t('.no_title')
      - else
        = link_to landing_page_path do
          .logo.logo-left LBERG
          .logo.logo-right MAP

      -# Map index link
      - if @current_user.registered? || session[:maps].any?
        .navbar-button.home-button.pull-left
          = link_to maps_path do
            .glyphicon.glyphicon-th-large.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.to_map_index')}

      -# Map show and places index
      - if current_map
        .navbar-button.home-button.pull-left
          = link_to map_path(map_token: map_token) do
            .glyphicon.glyphicon-globe.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.to_the_map')}
        .navbar-button.home-button.pull-left
          = link_to places_path(map_token: map_token) do
            .glyphicon.glyphicon-list.green{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.to_the_list')}

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        = render 'layouts/navbar/buttons_right'
