%nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: root_url}
        .logo.logo-left
          LBERG
        .logo.logo-right
          MAP
      .navbar-button.info-button.pull-left{class: "#{'active' if current_page?(about_path)}"}
        = link_to('', about_path, class: 'glyphicon glyphicon-info-sign')
      .navbar-button.contact-button.pull-left{class: "#{'active' if current_page?(contact_path)}"}
        = link_to('', contact_path, class: 'glyphicon glyphicon-envelope')

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if signed_in?
          .margin-right.navbar-button.pull-right{class: "#{'active' if current_page?(contact_path)}"}
            = link_to('', logout_path, class: 'glyphicon glyphicon-log-out')
          .navbar-button.pull-right{class: "#{'active' if current_page?(places_review_index_path)}"}
            = link_to(t('.review'), places_review_index_path, class: 'glyphicon glyphicon-thumbs-up')
        - else
          .margin-right.navbar-button.pull-right{class: "#{'active' if current_page?(contact_path)}"}
            = link_to('', login_path, class: 'glyphicon glyphicon-log-in')
        .navbar-button.pull-right{class: "#{'active' if current_page?(places_path)}"}
          = link_to(t('search'), places_path, class: 'glyphicon glyphicon-search')
        = render partial: 'layouts/navbar/dropdown'
