%nav.navbar.navbar-fixed-top
  .container.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-button.home-button.lilac.pull-left{class: "#{'active' if current_page?(about_path)}"}
        = link_to root_path do
          .glyphicon.glyphicon-globe.lilac{title: t('.back_to_map')}
      %a
        .logo.logo-left
          KIEZ
        .logo.logo-right
          KARTE
      .navbar-button.info-button.pull-left{class: "#{'active' if current_page?(about_path)}"}
        = link_to about_path do
          .glyphicon.glyphicon-info-sign.green{title: t('.about')}
      .navbar-button.contact-button.pull-left{class: "#{'active' if current_page?(contact_path)}"}
        = link_to contact_path do
          .glyphicon.glyphicon-envelope.green{title: t('.contact')}

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if @current_user.signed_in?
          .margin-right.navbar-button.pull-right{class: "#{'active' if current_page?(contact_path)}"}
            = link_to logout_path do
              .glyphicon.glyphicon-log-out.green{title: t('.logout')}
        - else
          .margin-right.navbar-button.pull-right{class: "#{'active' if current_page?(contact_path)}"}
            = link_to login_path do
              .glyphicon.glyphicon-log-in.green{title: t('.login')}
        .navbar-button.pull-right{class: "#{'active' if current_page?(places_path)}"}
          = link_to places_path do
            .glyphicon.glyphicon-search.green{title: t('.search')}
        - if @current_user.signed_in?
          .navbar-button.pull-right{class: "#{'active' if current_page?(places_review_index_path)}"}
            = link_to places_review_index_path do
              .glyphicon.glyphicon-thumbs-up.green{title: t('.review')}
        = render partial: 'layouts/navbar/dropdown'
