-# Places Menu
.dropdown.pull-right.navbar-dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    = Place.model_name.human(count: 2)
    %span.caret
  %ul.dropdown-menu
    %li{class: "#{'active' if current_page?(new_place_path)}"}
      = link_to(t('.new_place'), new_place_path)
    %li{class: "#{'active' if current_page?(places_path)}"}
      = link_to(t('.index_places'), places_path)
    - if signed_in?
      %li{class: "#{'active' if current_page?(places_review_index_path)}"}
        = link_to(t('.review'), places_review_index_path)
