= form_for(@place, url: @url) do |f|
  .row
    .col-xs-12
      - if @place.unreviewed_version
        .red currently under review

    .col-md-6
      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:name)}"}
        .col-xs-12
          = f.text_field :name, placeholder: Place.human_attribute_name('name'), class: 'form-control', disabled: @place.unreviewed_version

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:street)}"}
        .col-xs-8
          = f.text_field :street, placeholder: Place.human_attribute_name('street'), class: 'form-control', value: @geocoded ? @geocoded[:street] : @place.street, disabled: @place.unreviewed_version
        .col-xs-4
          = f.text_field :house_number, placeholder: 'Nr.', class: 'form-control', value: @geocoded ? @geocoded[:house_number] : @place.house_number, disabled: @place.unreviewed_version

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:postal_code) || f.object.errors.include?(:city)}"}
        .col-xs-5
          = f.text_field :postal_code, placeholder: Place.human_attribute_name('postal_code'), class: 'form-control', value: @geocoded ? @geocoded[:postal_code] : @place.postal_code, disabled: @place.unreviewed_version
        .col-xs-7
          = f.text_field :city, placeholder: Place.human_attribute_name('city'), class: 'form-control', value: @geocoded ? @geocoded[:city] : @place.city, disabled: @place.unreviewed_version

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:phone) || f.object.errors.include?(:email) || f.object.errors.include?(:homepage)}"}
        .col-sm-4
          = f.text_field :phone, placeholder: Place.human_attribute_name('phone'), class: 'form-control', disabled: @place.unreviewed_version
        .col-sm-4
          = f.text_field :email, placeholder: Place.human_attribute_name('email'), class: 'form-control', disabled: @place.unreviewed_version
        .col-sm-4
          = f.text_field :homepage, placeholder: Place.human_attribute_name('Homepage'), class: 'form-control', disabled: @place.unreviewed_version

    .col-md-6
      .row{id: 'place_event_toggle'}
        .col-xs-1
          = f.check_box :event, disabled: @place.unreviewed_version
        .col-xs-5
          = f.label :event
        .col-xs-1.place_end_date
          = check_box_tag 'set_end_date'
        .col-xs-5.place_end_date
          = label_tag 'With end date'

      %fieldset{class: "place_start_date form-group row #{'has-error' if f.object.errors.include?(:start_date)}"}
        .col-xs-8
          = f.text_field :start_date, class: 'form-control daterange', placeholder: 'asd'
  .row
    %hr

  .row
    .col-xs-12
      %h4= t('.categories')
      = f.text_field :categories, placeholder: 'Enter categories', class: 'form-control category-input', disabled: @place.unreviewed_version, value: (@place.categories ? @place.category_names.join(', ') : nil), data: { 'list' => (@map.category_names_list) }, autocomplete: :off

  .row
    %hr

  .row
    - I18n.available_locales.in_groups_of(2, false).each do |group|
      - group.each do |lang|
        - locale != lang ? hidden = 'hidden-description' : hidden = ''
        - column = "description_#{lang}"
        - translation = @place.translations.find_by(locale: lang)
        .col-xs-12
          .description-header
            %h4= t(column)
            - if locale != lang
              %h4.description-header.glyphicon.glyphicon-triangle-bottom
            - else
              %h4.description-header.glyphicon.glyphicon-triangle-top
          .description-editor{dir: "#{'rtl' if lang == 'ar'}", class: hidden}
            - if translation && translation.versions.length > 1
              %br
              .red= t('currently_under_review')
              = f.text_area column.to_sym, class: "description-area locked-description", disabled: true
            - elsif translation && translation.auto_translated
              %i (#{t('.auto_translated')})
              = f.text_area column.to_sym, class: "wysihtml5 description-area #{column}"
            - else
              = f.text_area column.to_sym, class: "wysihtml5 description-area #{column}"

  .row
    %hr

  .row
    .col-md-6
      = show_simple_captcha unless @current_user.signed_in?
  .row
    .submit-process-bar.text-center
      = render 'layouts/loading'
    .col-xs-6
      = f.hidden_field :latitude, value: params[:latitude]
      = f.hidden_field :longitude, value: params[:longitude]
      - if @geocoded
        = f.hidden_field :district, value: @place.district || @geocoded[:district]
        = f.hidden_field :federal_state, value: @place.federal_state || @geocoded[:federal_state]
        = f.hidden_field :country, value: @place.country || @geocoded[:country]
      = f.submit class: 'btn btn-primary btn-success place-form-button submit-place-button'
    .col-xs-6.col-md-2
      = link_to t('buttons.back'), '', class: 'btn btn-primary btn-danger place-form-button back-button'
