= form_for(@place) do |f|
  .col-xs-12.col-md-6
    %fieldset{class: "form-group row #{"has-error" if f.object.errors.include?(:name)}"}
      .col-xs-12
        = f.text_field :name, placeholder: Place.human_attribute_name('name'), class: 'form-control'

    %fieldset{class: "form-group row #{"has-error" if f.object.errors.include?(:street)}"}
      .col-xs-8
        = f.text_field :street, placeholder: Place.human_attribute_name('street'), class: 'form-control', value: @geocoded ? @geocoded['road'] : @place.street
      .col-xs-4
        = f.text_field :house_number, placeholder: 'Nr.', class: 'form-control', value: @geocoded ? @geocoded['house_number'] : @place.house_number

    %fieldset{class: "form-group row #{"has-error" if f.object.errors.include?(:postal_code) || f.object.errors.include?(:city)}"}
      .col-xs-5
        = f.text_field :postal_code, placeholder: Place.human_attribute_name('postal_code'), class: 'form-control', value: @geocoded ? @geocoded['postcode'] : @place.postal_code
      .col-xs-7
        = f.text_field :city, placeholder: Place.human_attribute_name('city'), class: 'form-control', value: @geocoded ? @geocoded['village'] || @geocoded['town'] || @geocoded['state'] : @place.city

    .row.margin-below
      - Category.all.each do |category|
        .col-xs-4
          = category.name
        .col-xs-2
          = hidden_field_tag 'place[category_ids][]', nil
          = check_box_tag 'place[category_ids][]', category.id, f.object.categories.include?(category)

  .col-xs-12.col-md-6
    %fieldset{class: 'form-group row'}
      - Place.globalize_attribute_names.each do |attribute|
        .col-xs-12
          = t attribute.to_s
        .col-xs-12.margin-below
          = f.text_area attribute, class: 'description-area'

  .row.margin-below
    .col-xs-4
      = show_simple_captcha
    .col-xs-8
      .col-xs-6
        = f.submit class: 'btn btn-primary btn-success place-form-button'
      .col-xs-6
        = link_to t('back'), action_name == 'edit' ? places_path : root_path, class: 'btn btn-primary btn-danger place-form-button'
