= form_for(@place) do |f|
  %fieldset{:class => "form-group row #{"has-error" if f.object.errors.include?(:name)}"}
    .col-xs-3
      = f.text_field :name, class: 'form-control', placeholder: 'Place name'
    .col-xs-3
      %span.help-block= f.object.errors[:name].join(", ")

  %fieldset{:class => "form-group row #{"has-error" if f.object.errors.include?(:street)}"}
    .col-xs-2
      = f.text_field :street, class: 'form-control', placeholder: 'Street', value: @geocoded ? @geocoded['road'] : @place.street
    .col-xs-1
      = f.text_field :house_number, class: 'form-control', placeholder: 'Nr.', value: @geocoded ? @geocoded['house_number'] : @place.house_number
    .col-xs-3
      %span.help-block= f.object.errors[:street].join(", ")

  %fieldset{:class => "form-group row #{"has-error" if f.object.errors.include?(:postal_code)}"}
    .col-xs-3
      = f.text_field :postal_code, class: 'form-control', placeholder: 'Postal code', value: @geocoded ? @geocoded['postcode'] : @place.postal_code
    .col-xs-3
      %span.help-block= f.object.errors[:postal_code].join(", ")

  %fieldset{:class => "form-group row #{"has-error" if f.object.errors.include?(:city)}"}
    .col-xs-3
      = f.text_field :city, class: 'form-control', placeholder: 'City', value: @geocoded ? @geocoded['village'] || @geocoded['town'] || @geocoded['state'] : @place.city
    .col-xs-3
      %span.help-block= f.object.errors[:city].join(", ")

  %fieldset{:class => "form-group row #{"has-error" if f.object.errors.include?(:categories)}"}
    .col-xs-3
      = f.text_field :categories, class: 'form-control', placeholder: 'Categories'
    .col-xs-3
      %span.help-block= f.object.errors[:categories].join(", ")

  %fieldset.form-group.row
    .col-xs-3
      = f.fields_for :descriptions do |d|
        = d.text_area :text, class: 'form-control', placeholder: 'Description'

  .row
    .col-xs-1
      = f.submit 'Save', class: 'btn btn-primary btn-success'
    .col-xs-1
      = link_to 'Back', root_path, class: 'btn btn-primary btn-danger'
