= javascript_include_tag 'data_tables.js'

- content_for :header do
  = t('.places')

.container
  .btn.btn-success.category-toggle.active{'data-category' => 'all'}
    = t('.categories.all_categories')
  - Category.all.each do |c|
    .btn.btn-default.category-toggle{'data-category' => c.id}
      = c.name

  %table#places.display.responsive.no-wrap.compact{cellspacing: '0', width: '100%'}
    %thead
      %tr
        %th
        %th
          = t('activerecord.attributes.place.name')
        %th
          = t('activerecord.attributes.place.postal_code')
        %th.tablet-l.desktop
          = t('.categories')
        %th
        %th.none
          = t('activerecord.attributes.place.address')
        %th.none
          = t('activerecord.attributes.place.email')
        %th.none
          = t('activerecord.attributes.place.phone')
        %th.none
          = t('activerecord.attributes.place.homepage')
        %th.none
          = t('activerecord.attributes.place.description')
    %tbody
      - @places.each do |place|
        %tr{height: '50px', 'data-categories' => place.category_ids}
          %td
            .triangle.glyphicon.glyphicon-triangle-bottom
          %td
            %b.lilac= place.name
          %td
            = place.postal_code + ' ' + place.city
          %td
            = category_names(place)
          %td
            = link_to root_path(latitude: place.latitude, longitude: place.longitude) do
              %span{class: 'glyphicon glyphicon-share-alt zoom-to-place'}
            - if place.reviewed? && can_contribute?
              = link_to edit_place_path(place), style: 'text-decoration: none' do
                %span{class: 'glyphicon glyphicon-pencil'}
            - else
              - if @current_user.signed_in?
                = link_to review_place_path(place), style: 'color: #ff6666; text-decoration: none' do
                  %span{class: 'glyphicon glyphicon-eye-open'}
              - else
                %span{class: 'glyphicon glyphicon-eye-open', style: 'color: #AB756B;'}

            - if @current_user.signed_in?
              = link_to place_path(place), {method: 'delete', data: { confirm: t('.confirm_delete') }} do
                %span{class: 'glyphicon glyphicon-trash'}
          %td
            = place.address
          %td
            = place.email
          %td
            = place.phone
          %td
            = link_to place.homepage, place.homepage
          %td
            = place.reviewed_description.html_safe
