- content_for :header do
  = t('.places')

.container
  .description
    %p
      = t('.index_places_description')
    %br
  %table{class: 'display compact', id: 'places', cellspacing: '0', width: '100%'}
    %thead
      %tr
        %th
        %th
          = t('activerecord.attributes.place.name')
        %th
          = t('activerecord.attributes.place.address')
        %th
          = t('.categories')
    %tbody
      - @places.each do |place|
        %tr
          %td
            = link_to root_path(latitude: place.latitude, longitude: place.longitude) do
              %span{class: 'glyphicon glyphicon-share-alt zoom-to-place'}
            - if place.reviewed?
              = link_to edit_place_path(place), style: 'text-decoration: none' do
                %span{class: 'glyphicon glyphicon-pencil'}
            - else
              - if signed_in?
                = link_to review_place_path(place), style: 'color: #ff6666; text-decoration: none' do
                  %span{class: 'glyphicon glyphicon-eye-open'}
              - else
                %span{class: 'glyphicon glyphicon-eye-open', style: 'color: #AB756B;'}

            - if signed_in?
              = link_to place_path(place), {method: "delete", data: { confirm: t('.confirm_delete') }} do
                %span{class: 'glyphicon glyphicon-trash'}
          %td
            = place.name
          %td
            = place.address
          %td
            = category_names(place)
