.container
  .row
    .col-xs-12
      %h3 Places
      .row
        %hr
        .col-xs-12
          .row
            .col-xs-3
              %b= t('name')
            .col-xs-5
              %b= t('address')
            .col-xs-3
              %b= t('categories')
      .row
        .col-xs-12
          - @places.each do |place|
            .row
              %hr
              .col-xs-3
                = place.name
              .col-xs-5
                = address(place)
              .col-xs-3
                - if place.category_ids
                  - place.category_ids.each do |id|
                    = category_link(id)
              .col-xs-1
                = link_to edit_place_path(place) do
                  %span{class: 'glyphicon glyphicon-pencil'}
                = link_to place_path(place), {method: "delete", data: { confirm: "Bist du dir sicher, dass du den Eintrag löschen willst?" }} do
                  %span{class: 'glyphicon glyphicon-trash'}
