.container
  %h4 Available categories
  %ul
    - all_categories.each do |category|
      %li
        = link_to category, tag_path(category)
.container
  %h4 Available POIs

  %table.table.table-condensed.table-hover
    %thead
      %th Name
      %th Adresse
      %th Categories
      %th.col-md-1 Latitude
      %th.col-md-1 Longitude
      %th.col-md-1
    %tbody
    - @places.each do |place|
      %tr
        %td
          = place.name
        %td
          = place.address
        %td
          - place.tag_list.map do |tag|
            = link_to tag, tag_path(tag)
        %td
          = place.latitude
        %td
          = place.longitude
        %td
          = link_to '', '', class: 'glyphicon btn-glyphicon glyphicon-search'
          = link_to '', edit_place_path(place), class: 'glyphicon btn-glyphicon glyphicon-pencil'
          = link_to '', place_path(place), {method: "delete", data: { confirm: "Bist du dir sicher, dass du den Eintrag löschen willst?" }, class: 'glyphicon btn-glyphicon glyphicon-trash' }

