- content_for :header do
  = t('.places')

.container
  .row
    .col-xs-12
      .row
        %hr
        .col-xs-12
          .row
            .col-xs-3
              %b= t('activerecord.attributes.place.name')
            .col-xs-4
              %b= t('activerecord.attributes.place.address')
            .col-xs-3
              %b= t('.categories')
      .row
        .col-xs-12
          - @places.each do |place|
            .row
              %hr
              .col-xs-3
                = place.name
              .col-xs-4
                = place.address
              .col-xs-3
                - if place.category_ids
                  - place.category_ids.each do |id|
                    = category_link(id)
              .col-xs-2
                - if place.reviewed?
                  = link_to edit_place_path(place), style: 'text-decoration: none' do
                    %span{class: 'glyphicon glyphicon-pencil'}
                - else
                  - if signed_in?
                    = link_to review_place_path(place), style: 'color: #ff6666; text-decoration: none' do
                      %span{class: 'glyphicon glyphicon-eye-open'}

                - if signed_in?
                  = link_to place_path(place), {method: "delete", data: { confirm: t('.confirm_delete') }} do
                    %span{class: 'glyphicon glyphicon-trash'}
