.container
  %table.table.table-condensed.table-hover
    %thead
      %th
      %th Name
      %th Adresse
      %th Latitude
      %th Longitude
    %tbody
    - @places.each do |place|
      %tr
        %td
          = link_to 'edit', edit_place_path(place)
          = link_to 'delete', place_path(place), {method: "delete", data: { confirm: "Bist du dir sicher, dass du den Eintrag löschen willst?" }}
        %td
          = place.name
        %td
          = place.address
        %td
          = place.latitude
        %td
          = place.longitude
