= form_for @place do |f|
  .col-xs-12.place-form-container
    .col-xs-12
      .col-xs-3
        = f.label :name
      .col-xs-3
        = f.label :latitude
      .col-xs-3
        = f.label :longitude
      .col-xs-3
        = f.label :categories
    .col-xs-12
      .col-xs-3
        = f.text_field :name
      .col-xs-3
        = f.text_field :latitude
      .col-xs-3
        = f.text_field :longitude
      .col-xs-3
        = f.text_field :categories
    .col-xs-12
      = f.fields_for :descriptions do |d|
        .col-xs-1
          %b eng:
          = d.hidden_field :language, value: 'eng'
        .col-xs-11
          = d.text_area :text
    .col-xs-12
      = f.fields_for :descriptions do |d|
        .col-xs-1
          %b ger:
          = d.hidden_field :language, value: 'ger'
        .col-xs-11
          = d.text_area :text
    .col-xs-12
      .col-xs-2.pull-right
        = f.submit 'Create', class: 'btn btn-sm btn-success'
