-# Navigation bar partial
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: root_path}
        .navbar-header.logo.logo-left
          LBERG
        .navbar-header.logo.logo-right
          MAP
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: "#{'active' if current_page?(places_path)}"}
          = link_to t('editor'), places_path
        %li{class: "#{'active' if current_page?(about_path)}"}
          = link_to t('about'), about_path
      %ul.nav.navbar-nav.nav-pills.pull-right
        - I18n.available_locales.each do |l|
          %li{class: "#{'active' if l == locale}"}
            = link_to l.to_s, locale: l.to_s
        - if session[:user_id]
          %li
            = link_to 'User settings', edit_user_path(session[:user_id])
          %li
            = link_to 'logout', logout_path
