-# Navigation bar partial
%nav.navbar.navbar-fixed-top
  .container
    %a{href: root_path}
      .logo.logo-left
        LBERG
      .logo.logo-right
        MAP
    .info-button.pull-left{class: "#{'active' if current_page?(about_path)}"}
      = link_to('', about_path, class: 'glyphicon glyphicon-info-sign')

    .dropdown.pull-right.navbar-dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        = locale
        %span.caret
      %ul.dropdown-menu
        - I18n.available_locales.each do |l|
          %li{class: "#{'active' if l == locale}"}
            = link_to l.to_s, locale: l.to_s
    - if signed_in?
      .dropdown.pull-right.navbar-dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('places')
          %span.caret
        %ul.dropdown-menu
          %li{class: "#{'active' if current_page?(new_place_path)}"}
            = link_to(t('new_place'), new_place_path)
          %li{class: "#{'active' if current_page?(places_path)}"}
            = link_to(t('index_places'), places_path)
          %li{class: "#{'active' if current_page?(missing_translations_path)}"}
            = link_to(t('missing_translations'), missing_translations_path)
      .dropdown.pull-right.navbar-dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t('user')
          %span.caret
        %ul.dropdown-menu
          %li{class: "#{'active' if current_page?(edit_user_path(session[:user_id]))}"}
            = link_to(t('edit_user'), edit_user_path(session[:user_id]))
          %li
            = link_to(t('log_out'), logout_path)
