!!!
%html
  %head
    %title= @map.present? ? @map.title : Admin::Setting.app_title
    = favicon_link_tag 'favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = include_page_specific_javascript
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
  %body
    %noscript
      This site is built on JavaScript. Please activate...
    = render 'layouts/navbar/navbar'
    .container-full.main-container
      .starter-template
        - unless on_map?
          .header-img
            %h1= yield :header
        = render 'layouts/flash_messages'
        = yield

    .footer.navbar-fixed-bottom
      .container
        .pull-left
          %i
            powered by
          = link_to 'ratMap', 'https://github.com/magdalena19/lberg-map', style: 'font-size: large; font-weight: bold;'
        .pull-right
          %span.app_imprint_toggle{style: 'cursor: pointer;'}= t('.app_imprint')
          = ' | '
          %span.app_privacy_policy_toggle{style: 'cursor: pointer;'}= t('.app_privacy_policy')

= render partial: 'layouts/modals'
