!!!
%html
  %head
    %title KiezKarte
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = include_page_specific_javascript
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
  %body
    %noscript
      This site is built on JavaScript. Please activate...
    = render 'layouts/navbar/navbar'
    .container-full.main-container
      .starter-template
        - if action_name != 'map'
          .header-img
            %h1= yield :header
        = render 'layouts/flash_messages'
        = yield
