!!!
%html
  %head
    %title= @map.present? ? @map.title : Admin::Setting.app_title
    = favicon_link_tag 'favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = include_page_specific_javascript
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
  %body
    %noscript
      This site is built on JavaScript. Please activate...
    = render 'layouts/navbar/navbar'
    .container-full.main-container
      .starter-template
        - unless on_map?
          .header-img
            %h1= yield :header
        = render 'layouts/flash_messages'
        = yield

    .footer.navbar-fixed-bottom
      .container
        .pull-left
          %i
            powered by
          = link_to 'ratMap', 'https://github.com/magdalena19/lberg-map', style: 'font-size: large; font-weight: bold;'
        .pull-right
          = link_to t('.app_imprint'), '#', class: 'app_imprint_toggle'
          = ' | '
          = link_to t('.app_privacy_policy'), '#', class: 'app_privacy_policy_toggle'

-# App imprint
.modal.fade{role: 'dialog', id: 'app_imprint' }
  .modal-dialog
    .modal-content
      .modal-header
        %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title= t('.app_imprint')
      .modal-body
        %p= Admin::Setting.app_imprint

-# App privacy policy
.modal.fade{role: 'dialog', id: 'app_privacy_policy' }
  .modal-dialog
    .modal-content
      .modal-header
        %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title= t('.app_privacy_policy')
      .modal-body
        %p= Admin::Setting.app_privacy_policy

#explanation-modal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-body
      .modal-footer
        %button.btn.btn-success.full-width{'data-dismiss' => 'modal', type: 'button'} Okay
